@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

/* CONTAINERS */
.main-container {
  min-height: 100vh;
  overflow: auto;
}

.search-container {
  max-width: 600px;
}

/* INTRODUCTION */
blockquote.bubble {
  line-height: 1.25;
	background-position: center;
  background-repeat: no-repeat !important;
	background-size: 100% 100%;
  margin: 0 auto;
  margin-top: 5rem;
	text-align: center;
	height: 0;
	box-sizing: content-box;
	line-height: 1;
}
blockquote.speech {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/speech-bubble.svg); 
  width: 90%;
  height: 30vh;
  padding-top: 6%;
	padding-bottom: 20%;
}

.image-profile {
  transform: scaleX(-1);
}

@media(min-width: 768px) {
  blockquote.speech {
    width: 75%;
    height: 20vh;
  }
}

@media(min-width: 1024px) {
  blockquote.speech {
    width: 50%;
    height: 10vh;
  }
}

/* STEPPER */
@layer components {
  .step-container {
    @apply grow;
  }

  .step-item {
    @apply relative flex flex-col justify-center items-center cursor-pointer w-full;
  }
  
  .step-item::before {
    @apply content-[''] bg-slate-200 absolute w-2/4 h-[3px] right-2/4;
  }

  .step-item::after {
    @apply content-[''] bg-slate-200 absolute w-2/4 h-[3px] left-2/4;
  }

  .active.step-item::before, .complete.step-item::before {
    @apply content-[''] bg-slate-500 absolute w-2/4 h-[3px] right-2/4;
  }

  .complete.step-item::after {
    @apply content-[''] bg-slate-500 absolute w-2/4 h-[3px] left-2/4;
  }

  .step {
    @apply w-10 h-10 flex items-center justify-center z-10 relative bg-white border border-slate-300 rounded-full font-semibold text-white;
  }

  .active .step {
    @apply border-slate-900;
  }

  .complete .step {
    @apply border-slate-700;
  }

  .complete p {
    @apply text-white;
  }

  .step-text {
    @apply text-gray-400;
  }

  .complete.step-text, .active.step-text {
    @apply text-gray-600;
  }
}